$flex: flex;



.page {
    display:$flex;
    align-items:center;
}
.page__head {
    display:flex;
    align-items:center;
}
.page__nav {
    display:flex;
    align-items:center;
}
.page__main {
    display:flex;
    align-items:center;
}
.page__footer {
    display:flex;
    align-items:center;
}